.container1 {
    background-color: black;
    width: 50%;
    height: auto;
    justify-content: center;
    position: relative;
    display: grid;
    height: 50vw;
    gap: 1vw;
    margin-top: 100px;
    padding-top: 1vw;
    padding-bottom: 1vw ;
    border-radius: 20px;
}
.container1top {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: auto;
    gap:1vw;
}
.container1topleft{
    display: grid;
    gap: 1vw;    height: 93%;
}
.item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.item {
    background-color: white;
    width: 23vw;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 16vw;
    min-width: 23vw;
}
body {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
}
#doublerow {
    height: 33vw;
}
#doublecolumn {
    width: 47vw;
}
*{
    outline: 1px solid red;
}
