.container1 {
    background-color: black;
    width: 950px;
    height: fit-content;
    justify-content: center;
    position: relative;
    display: grid;
    gap: 1vw;
    margin-top: 50px;
    padding: 1vw;
    border-radius: 20px;
    
}
.container1top {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: auto;
    gap:1vw;
    height: 100%;
    width: 100%;
}
.container1topleft{
    display: grid;
    gap: 1vw;    height: 100%;
}
.item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.item {
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
body {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: #12111b;
    flex-direction: column;
}
.container1bottom {
    height: fit-content;
}

*{
    outline: 1px solid red;
}
.doublerow{
    height: 100%;
    outline: 40px solid ;
}
